
/* 

 green: #009688
 brown: #674A48
 off-white: #f8f9fa - text
 black: #212529;


 baby blue: #53B4EB - For winter tabs
 orange: #FF9900 - For summer/fall tabs
 yellow: #FFC700 - For summer tabs

*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
    font-size: 1rem;
    vertical-align: baseline;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

p, ul, ol {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 0.25px;
    font-weight: 300;
}

/*************************
LAYOUT / REUSABLE COMPONENTS
**************************/

.button {
    background-color: #009688;
    border-radius: 20px;
    color: #f8f9fa;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: -1px 2px 5px rgba(29, 37, 45, 0.5);
    border: none;
}

.button:hover {
    color: #f8f9fa;
    background-color: #057167;
}

.button.accent {
    border-radius: 20px 20px 2px 20px;
}

.button.accent:hover {
    border-radius: 20px;
    transition: all .6s ease-in-out;
}


/*************************
HERO / LANDING PAGE SECTION
**************************/
/* Use psuedo class to apply filter onto image otherwise the brightness filter will also apply to text */

.container-fluid {
    padding: 0 0 !important;
    overflow-x: hidden;
}

.hero {
    width: 100%;
    height: 90vh;
    background: url("../img/hero/hero-zion-1920x1200.jpg") no-repeat center;
    background-size: cover;
}

.hero-content {
    content: "";
    position: absolute;
    bottom: 23%;
    left: 10%;
    width: 100%;
    height: 350px;
}

.hero-content .hero-title {
    color: #f8f9fa;
    font-size: 70px;
    margin-bottom: .3em;
    line-height: 77px;
    letter-spacing: 1px;
    text-shadow: -1px 2px 5px rgba(29, 37, 45, 0.65);
}

.hero-content .hero-desc {
    color: #f8f9fa;
    margin-bottom: 2em;
    width: 52ch;
    font-weight: 400;
    text-shadow: -1px 2px 5px rgb(29, 37, 45);
}

.hero-content .hero-button {
    background-color: #009688;
    border-radius: 20px 20px 2px 20px;
    color: #f8f9fa;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 12px 6px 12px 6px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 285px;
    text-shadow: -1px 2px 5px rgba(29, 37, 45, 0.5);
}

.hero-button:hover {
    border-radius: 100px;
    transition: all .6s ease-in-out;
}

/*************************
       NAVIGATION BAR
**************************/
.navbar {
    height: 12vh;
    padding: 1em;
}

.navbar-brand {
    font-size: 3rem;
    display: flex;
}

.navbar img {
    height: 55px;
    width: 55px;
}

.navbar-brand h2 {
    display: flex;
    align-items: flex-end;
    font-size: 1.9rem;
    padding-left: .2em;
    text-shadow: 1px 1px 3px rgba(57, 81, 107, 0.75);
}

#navbarToggle > ul > li {
    padding: .4em;
}

#navbarToggle .nav-link {
    color: #f8f9fa;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(57, 81, 107, 0.75);
}

#navbarToggle .nav-link:hover,
#navbarToggle .nav-link.selected {
    border-top: 2px solid #f8f9fa;
    margin-top: -2px;
}

#navbarToggle .nav-link.selected {
    cursor: default;
}



.guided-tours-link .nav-link:before {
    content: "\f5eb";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
    font-size: 1.2rem;
}

.visit-us-link .nav-link:before {
    content: "\f4d7";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
    font-size: 1.2rem;
}

.about-us-link .nav-link:before {
    content: "\f1e5";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
    font-size: 1.2rem;
}

.bookings-link a::before {
    content: "\f07a";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
    font-size: 1.2rem;
}

.account-link a::before {
    content: "\f2bd";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
    font-size: 1.2rem;
}

/*************************************
    main-section most-popular-tours
**************************************/
.main-content {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    height: 100%;
    margin: auto;
}

.popular-tour-container {
    /* border: 3px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: flex-start;
    flex-wrap: wrap;
}

/* left  */
.box-left {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 3em;
    max-width: 650px;
    padding: 3em;
}

.box-left .popular-tour-title h3 {
    margin-left: 1em;
    padding-bottom: .7em;
    font-size: 2rem;
    font-weight: 500;
}

.tour-images-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tour-images-box .tour-images {
    padding: .5em;
}

.tour-images-box .tour-images img {
    height: 230px;
    width: 230px;
    transition: transform .3s;
}

.tour-images-box .tour-images img:hover {
    transform: scale(1.05);
}

.tour-images-box .tour-images a {
    color: #009688;
}

.tour-images-box .tour-images a h6 {
    font-size: .9rem;
    font-weight: 500;
    padding: .6em 0;
    font-family: 'Open Sans', sans-serif;
}

/* right */
.box-right {
    /* border: 3px solid orange; */
    display: flex;
    flex-direction: column;
    margin: auto;
}

.current-offer-img img {
    height: 450px;
}

.current-offer-title h3 {
    font-weight: 500;
    padding: .5em 0;
    /* text-shadow: -1px 2px 5px rgb(29 37 45 / 0.30); */
}

.current-offer-paragraph p {
    width: 38ch;
}

.current-offer-button .offer-button {
    background-color: #009688;
    border-radius: 20px 20px 2px 20px;
    color: #f8f9fa;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 10px 6px 10px 6px;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 255px;
    text-shadow: -1px 2px 5px rgba(29, 37, 45, 0.5);
}

.offer-button:hover {
    border-radius: 100px;
    transition: all .6s ease-in-out;
}

/* 
 horizontal line
*/

body > div > hr {
    border-bottom: 1px solid #212529;
    width: 50%;
    margin: 1em auto;
}

/*******************************
   destination gallery section
********************************/
.dest-gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* destination description */
.dest-content {
    width: 600px;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}

.dest-content h2 {
    display: flex;
    justify-content: center;
    padding-bottom: .8em;
}

.dest-content p {
    text-align: center;
}

/* swiper */
.swiper-container {
    width: 70%;
    height: 500px;
    margin-top: 50px;
    position: relative;
    padding: 0 60px
}
  
  .arrow-left {
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  .arrow-right {
    position: absolute;
    top: 50%;
    right: 0;
  }

.swiper-container .swiper-slide img {
    height: 400px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 40px !important;
}



.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: 'next';
    color: white;
    margin-bottom: 2em;
    font-weight: bolder;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
    color: white;
    margin-bottom: 2em;
    font-weight: bolder;
}

/************************************
   map of zion national park section
*************************************/
.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-content {
    max-width: 600px;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}

.map-container h2 {
    display: flex;
    justify-content: center;
    padding-bottom: .8em;
}

.map-content p {
    text-align: center;
}

iframe {
    margin: 50px 50px 150px 50px;
    max-width: 100%;
}

/**************************
   subscribe now - section
***************************/
.sub-container {
    height: 35vh;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-container > div {
    width: 400px;
}

.sub-container > h2 {
    width: 20ch;
    text-align: center;
    padding: 1em;
    text-shadow: -1px 2px 5px rgba(29, 37, 45, 0.3);
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: .9rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: #f8f9fa !important;
    text-transform: uppercase !important;
    text-align: center;
    white-space: nowrap;
    background-color: #009688 !important;
    border: 1px solid #009688 !important;
    border-radius: 0 10px 10px 0!important;
    height: 40px;
    cursor: pointer;
}

/*********************
   footer - section
**********************/
.page-footer {
    background-color: #009688;
}

.page-footer .container {
    padding: 5em 0;
}

.col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4,
.col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4,
.col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4,
.col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4 {
    text-align: left;
    color: #f8f9fa;
}

.col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4 > p > a,
.col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4 > p > a {
    color: #f8f9fa;
}

.col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4 > h6,
.col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4 > h6,
.col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4 > h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-shadow: -1px 2px 5px rgba(29, 37, 45, 0.2);
    margin: 0;
}

.col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4 > h6 {
    font-size: 2rem;
    text-shadow: -1px 2px 5px rgba(29, 37, 45, 0.2);
}

.footer-heading::before {
    content: url("../img/icons/main-logo.svg");
    padding: 0 10px 0 0;
}

/* intro section container */
.intro-section-container {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    border-radius: 20px;
    padding: 1em 3.5em;
    margin: -125px auto 0;
    background-color: #ffffff;
    opacity: .95;
}

.intro-section-container h2 {
    text-shadow: -1px 2px 5px rgba(29, 37, 45, 0.15);
}

.breadcrumb-box ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.breadcrumb-box ul li {
    padding-right: 5px;
    font-size: .8rem;
    display: flex;
    align-items: center;
}

.breadcrumb-box ul li a {
    text-decoration: none;
    font-size: .9rem;
    color: #009688;
    font-weight: 500;
}