
.hero.p-plan-your-visit {
    width: 100%;
    height: 35vw;
    background: url(../img/plan-your-visit/hero-banner-plan-your-visit.jpg) no-repeat center right;
    background-size: cover;
}

img {
    max-width: 100%;
}

.columntext {
    padding: 15%;
}

.s-helpful-links {
    margin: 3% auto 3%;
}

.block-inner {
    position: relative;
    padding-left: 60px;
    vertical-align: center;
}

.s-helpful-links .block-inner:hover {
    cursor: pointer;
}

.block-inner:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.block-inner.driving:before {
    background-image: url("../img/plan-your-visit/driving.png");
}

.block-inner.condition:before {
    background-image: url("../img/plan-your-visit/condition.png");
}

.block-inner.buss:before {
    background-image: url("../img/plan-your-visit/buss.png");
}

.block-inner.hours:before {
    background-image: url("../img/plan-your-visit/hours.png");
}

.block-inner.fee:before {
    background-image: url("../img/plan-your-visit/fee.png");
}

.s-helpful-links .block-inner:hover  {
    color: #009688;
}

.s-helpful-links .modal-dialog.ready {
    max-width: 65%!important;
}

.s-helpful-links .modal-body {
    font-size: 14px;
    color: #212529;
}


.b-title {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 0;
}

.s-getmap {
    background-color: #674A48;
    padding: 5% 0;
    color: white;
    margin: 3% auto 7%;
}

.img-map {
    margin-bottom: 5%;
}

.map-description {
   align-self: center;
}

@media screen and (max-width: 1200px) {
    .columntext {
        padding: 5% 10%;
    }

    .hide-on-devices {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .s-helpful-links .modal-dialog.ready {
        margin: auto;
        max-width: 85%!important;
    }
}




@media screen and (max-width: 620px) {

    .p-plan-your-visit {
        font-size: 14px;
    }
}